body{
  background-color: #4b406b ;
}

.app {
	background-color: #5b4f81;
	flex: 1;
}

.container {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;

}
.footer{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: end;
	padding: 20px;
	border-top: 0.5px solid #4b406b;
	margin: 2px;
}


.header{
	text-align: center;
	color: #fff;
	background-color: #4b406b;
	margin-bottom: 5px;
}