body{
  background-color: #4b406b ;
}
.title{
  color:#fff;
  text-align: center;
}
.app {
	margin: 5px;
	background-color: #5b4f81;
	text-align: center;
	font-size: 1.5em;
}

.container {
	max-width: 800px;
  max-height: 100px;
	margin: 0 auto;

}



