.area{
  display: flex;
  flex-direction: column;
}

.me{
  align-self: flex-end;
  background-color: #efa985;
  padding: 5px 10px;
  color:#fff;
  border-radius: 15px;
  margin-left: 10px;
}

.you{
  align-self: flex-start;
  background-color: #4d426e;
  padding: 5px 10px;
  color:#fff;
  border-radius: 15px;
  margin-right: 10px;
}