.me{
  background-color: #efa985;
  text-align: end;
  border-radius: 15px;
  padding: 15px;
  color: aliceblue;
  margin-top: 10px;
  margin-left: 100px;
}


.you{
  background-color: #4d426d;
  text-align: start;
  border-radius: 15px;
  padding: 15px;
  color: aliceblue;
  margin-top: 10px;
  margin-right: 100px;
}